.medicine-table {
    width: calc(100vw - 20px);
    border-collapse: collapse;
    overflow-x: auto;
  }
  
  .medicine-table th, .medicine-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .medicine-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .medicine-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .medicine-table tr:hover {
    background-color: #ddd;
  }
  